<mat-toolbar color="primary">
  <span><a routerLink="/">Posts Blog</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a routerLink="/create" mat-button routerLinkActive="mat-accent">Add Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a routerLink="/login" mat-button routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a routerLink="/signup" mat-button routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-raised-button color="warn" (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
