<mat-card>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <form *ngIf="!isLoading" (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input type="email" placeholder="E-Mail" matInput name="email" ngModel required email #emailInput="ngModel">
      <mat-error *ngIf="emailInput.invalid">Please enter a valid e-mail</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" placeholder="Password" matInput required name="password" ngModel #passwordInput="ngModel">
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
    </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        >Login</button>
  </form>
</mat-card>

