mat-form-field {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}
mat-progress-bar{
  margin: 0 auto;
}
.name-fields{
  display: flex;
  justify-content: space-between;
}
.name-fields mat-form-field{
  width: 45%;
}

