<mat-card>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input type="text"
             placeholder="Post Title"
             matInput
             formControlName="title"
             required
             minlength="3">
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <button type="button" mat-stroked-button (click)="imagePicker.click()">Pick Image</button>
    <input type="file" #imagePicker (change)="onImagePicked($event)">
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea name=""
                matInput
                placeholder="Post Content"
                formControlName="content"
                rows="4"
                required></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a post content </mat-error>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        >Submit</button>
    </mat-form-field>
  </form>
</mat-card>

